@use '../globals' as *;

// ============================================
// Página de Pagos
// ============================================

.pagos {
  padding: $spacing-xl;
  
  &-form {
    max-width: 600px;
    margin: 0 auto;
  }
}



