@use '../globals' as *;

// Badges Component

.badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    
    &-primary {
        background-color: $primary-color;
        color: white;
    }
    
    &-secondary {
        background-color: $secondary-color;
        color: white;
    }
    
    &-success {
        background-color: $success-color;
        color: white;
    }
    
    &-danger {
        background-color: $danger-color;
        color: white;
    }
    
    &-warning {
        background-color: $warning-color;
        color: white;
    }
    
    &-info {
        background-color: $info-color;
        color: white;
    }
}

